table.users_list td {
    vertical-align:middle;
}

table.users_list label {
    display: block;
    padding-left: 25px;
    text-indent: -30px;
}

table.users_list input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}